<section>
<div class="modal-body">
<form>
  <div class="texto">
    <label for="correo" class="col-form-label">Correo</label>
    <input type="email" class="form-control" id="correo">
  </div>
  <div class="texto">
    <label for="contraseña" class="col-form-label">Contraseña</label>
    <input type="password" class="form-control" id="contraseña">
  </div>
  <br>
  <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
    Iniciar Sesión
  </button>
</form>
</div>
</section>
